@font-face {
    font-family: Lato;
    src: url('../assets/fonts/Lato-Light.ttf');
}

@font-face {
    font-family: Lato Regular;
    src: url('../assets/fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: Inter;
    src: url('../assets/fonts/Inter-Regular.ttf');
}

body {
    font-family: Lato;
}

.container{
    padding: 20px;
    box-sizing: border-box;
}

header {
    background-color:#E0E0E0;  
}

main {
    min-height: calc(100vh - 60px);
}

.header {
    height: 60px;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    color: #333333;
}


.logo img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    object-position: center;
}

.menu-burguer_btn {
    width: 24px;
    height: 24px;
    background-image: url('../assets/icons/Shape.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.menu_desktop {
    height: 40px;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    background-color: #FFFFFF;
    display: none;
}

.menu_desktop_option {
    padding: 0px 20px 0px 20px;
    line-height: 19.2px;
    border-right: 1px solid #979797;
    text-decoration: none;
    cursor: pointer;
}

.menu_desktop_option:last-child {
    border: none;
}
.menu_desktop_option:visited {
    color: inherit;
}

form {
    width: 100%;
    height: 290px;
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px #979797;
    font-family: Lato Regular;
}

form label {
    margin-top: 20px;
    margin-bottom: 2px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
}

#form_transaction-type, #form_product-name, #form_price {
    width: 100%;
    height: 32px;
    border: 1px solid #979797;
    border-radius: 4px;
    color: #979797;
    background-color: #FFFFFF;
    box-sizing: border-box; 
    padding-left: 12px;   
    padding-right: 12px;
}

#form_transaction-type {
    padding-left: 7px;
}
#form_product-name::placeholder, #form_price::placeholder {
    color: #979797;
}

.form_add-transaction-btn {
    width: 100%;
    height: 32px;
    margin-top: 20px;
    margin-bottom: 28.5px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    background-color: #333333;
    font-family: Inter;
    font-size: 14px;      
    cursor: pointer;  
}

.abstract {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 22px;
    padding-top: 21px;    
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-family: Lato Regular;
}

.abstract_title, .form_title{
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

.form_title {
    display: none;
}

.abstract_row {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #979797;    
    font-size: 14px;
    line-height: 16px;
    padding: 10px;
    padding-top: 7px;
    padding-bottom: 8px;
    box-sizing: border-box;
}

.abstract_product {
    width: 231px;
    display: flex;
    column-gap: 10px;
}

.abstract_head, .abstract_footer{
    font-weight: 700;
}

.abstract_head {
    padding-left: 28px;
    padding-right: 35px;
    padding-top: 19px;
    box-sizing: border-box;
}

.abstract_footer {
    border: none;
    border-top: 1px solid #979797; 
    margin-top: 2px;
    padding-top: 9px;
}

.abstract_profit {
    font-size: 10px;
    align-self: flex-end;
    padding-right: 10px;
    margin-top: -5px;

}

footer {
    height: 8px;
    background-color: #333333;
    box-sizing: border-box;
}

