@font-face {
  font-family: Lato;
  src: url( "../assets/fonts/Lato-Light.ttf" );
}

@font-face {
  font-family: Lato Regular;
  src: url( "../assets/fonts/Lato-Regular.ttf" );
}

@font-face {
  font-family: Inter;
  src: url( "../assets/fonts/Inter-Regular.ttf" );
}

body {
  --main: #979797;
  --secondary: #e0e0e0;
  --contrast: #333;
  --white: #fff;
  --black: #000;
  position: relative;
  font-family: Lato Regular;
  color: var( --contrast );
}

.o-container {
  padding: 20px;
  box-sizing: border-box;
}

.c-layout__header {
  height: 60px;
  display: flex;
  background-color: var( --secondary );
  font-family: Lato;
  font-size: 20px;
  font-weight: 600;
}

.c-header__content__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-logo__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-logo {
  width: 30px;
  height: 30px;
}

.c-menu-burguer__btn img {
  width: 24px;
  height: 24px;
}

.c-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  padding: 20px;
  background-color: var( --contrast );
  text-align: right;
  font-size: 16px;
  line-height: 19px;
  display: none;
  flex-direction: column;
  row-gap: 15px;
  transition: 0.5s;
  color: var( --white );
}

.c-menu a {
  text-decoration: none;
}

.c-menu a:visited {
  color: inherit;
}

.c-close__menu__mobile__btn {
  align-self: flex-start;
  width: 16px;
  height: 16px;
}

.c-layout__main {
  min-height: calc( 100vh - 60px );
  font-size: 14px;
}

.c-form {
  width: 100%;
  height: 290px;
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px var( --main );
}

.form__inputs__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  column-gap: 20px;
}

.c-form label {
  margin-bottom: 2px;
  font-weight: 400;
  line-height: 22px;
}

.c-form__input {
  width: 100%;
  height: 32px;
  border: 1px solid var( --main );
  border-radius: 4px;
  color: var( --main );
  background-color: var( --white );
  padding: 0 12px;
}

.c-form__input::placeholder {
  color: var( --main );
}

.form__input--transaction-type {
  padding-left: 7px;
}

.c-form__add-transaction__btn {
  width: 100%;
  height: 32px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  color: var( --white );
  background-color: var( --contrast );
  font-family: Inter;
  cursor: pointer;
}

.c-summary {
  width: 100%;
  height: auto;
  margin: 20px 0;
  padding-top: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var( --black );
}

.o-section-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.section-title--form {
  display: none;
  text-align: center;
}

.c-summary__row {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var( --main );
  line-height: 16px;
  padding: 7px 10px;
}

.c-summary__row--header-footer__text {
  font-weight: 700;
}

.c-summary__product {
  width: 250px;
  display: flex;
  column-gap: 10px;
}

.c-summary__head {
  padding-left: 30px;
  padding-right: 40px;
  padding-top: 20px;
}

.c-summary__footer {
  border: none;
  border-top: 1px solid var( --main );
  margin-top: 2px;
  padding-top: 9px;
  padding-left: 30px;
}

.c-summary__profit {
  font-size: 10px;
  align-self: flex-end;
  padding-right: 10px;
  margin-top: -5px;
}

.c-layout__footer {
  height: 8px;
  background-color: var( --contrast );
}

