/*----------------------------------------------------*\
  # C O L O R S
\*----------------------------------------------------*/

body {
  --main: #979797;
  --secondary: #e0e0e0;
  --contrast: #333;
  --white: #fff;
  --black: #000;
}


/*----------------------------------------------------*\
  # F O N T S
\*----------------------------------------------------*/

@font-face {
  font-family: Lato;
  src: url( "../../assets/fonts/Lato-Light.ttf" );
}

@font-face {
  font-family: Lato Regular;
  src: url( "../../assets/fonts/Lato-Regular.ttf" );
}

@font-face {
  font-family: Inter;
  src: url( "../../assets/fonts/Inter-Regular.ttf" );
}